.MyButton{
    height: 40px;
    min-width: 70px;
    padding: 0 15px;

    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;

    background-color: #f38181;
    border: 2px solid #f38181;

    transition: all .2s;

}
.MyButton:hover{
    background-color: transparent;
    color: #333;
}