.MySelect {
    transform: translateY(1px);

    height: 40px;
    min-width: 70px;
    padding: 0 12px;

    border-radius: 5px;

    font-size: 15px;
    font-weight: 600;

    color: black;
    background-color: palegreen;
    cursor: pointer;
}

.MySelect__item{
    font-size: 15px;
    font-weight: 600;

    color: black;
    background-color: palegreen;
}