.MySliderDot{
    width: 22.5%;
    padding: 22px 0;
    border-top: 3px solid #f6eac5;

    text-transform: uppercase;
    font-family: "Montserrat", serif;
    font-size: 24px;
    font-weight: 700;
    color: #fbf3dc;

    transition: all .5s;
    cursor: pointer;
}
.MySliderDot span{
    font-size: 18px;
    font-weight: 400;
}
.MySliderDot:before{
    position: absolute;
    top: 0;
    width: 5.6%;
    height: 3px;

    display: block;
    content: "";
    background-color: transparent;

    transition: all .5s;
}


.MySliderDot._active{
    color: #fff;
    border-color: #fff;
}
.MySliderDot._active:before{
    background-color: #f38181;
}