.MySliderSlide {
    position: absolute;
    left: 50%;
    top: 50%;
    opacity: 1;

    color: #fff;
    text-align: center;

    &__subtitle{
        font-family: 'Kaushan Script', cursive;
        font-size: 72px;
        margin-bottom: 30px;
    }
    &__title{
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 150px;
        text-transform: uppercase;
        line-height: 0.95;
        position: relative;

        &:after{
            content: '';
            display: block;
            width: 60px;
            height: 3px;
            background-color: #fff;
            margin: 55px auto 50px auto;
        }
    }
    &__button{
        padding: 8px 28px;

        background-color: transparent;
        border: 3px solid #fff;

        color: #fff;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 14px;
        text-transform: uppercase;

        transition: color,background-color 0.2s linear;

        &:hover{
            background-color: #fff;
            color: #000;
        }
    }

    // react-transition-group Transition styles
    &.entering{
        opacity: 0;
        transform: translate(-50%, -50%) scale(0);
    }
    &.entered{
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
    &.exiting{
        opacity: 0;
        transform: translate(-50%, -50%) scale(0);
    }
}
