.Header{
    z-index: 200;

    position: fixed;
    top: 0;
    width: 100%;

    background-color: khaki;
    box-shadow: 0 5px 10px rgb(0 0 0 / 15%);
}

.Header__inner{
    height: 90px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}