.Navigation {
    display: flex;
    justify-content: flex-end;

    &__item {
        margin-left: 50px;
        transform: translateY(4px);

        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        text-transform: uppercase;
        text-decoration: none;
        color: #333;

        cursor: pointer;
        padding-bottom: 2px;
        border-bottom: 2px solid transparent;
        transition: all .2s linear;

        &:hover {
            color: #f38181;
            border-color: #f38181;
        }
    }
}
