.PageList{
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

.PageListButton{
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3px;

    cursor: pointer;
    color: #333;
    border: 1px solid #BBB;
}

.PageListButton:hover{
    color: #f38181;
    border-width: 2px;
}

.PageListButton._active{
    font-weight: 800;
    border: 3px solid #f38181;
}