.PageNotFound{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    text-align: center;

    color: #333;
}

.PageNotFound__code{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 150px;
}

.PageNotFound__text{
    font-family: 'Kaushan Script', cursive;
    font-size: 72px;
}