.Post{
    border: solid 2px #BBB;
    padding: 15px;
    margin-bottom: 20px;

    display: flex;
    justify-content: space-between;

    cursor: pointer;
    position: relative;
}

/* The before pseudo element is needed to working onClick on padding zone */
.Post:before{
    content: "";
    display: block;
    background-color: transparent;

    position: absolute;
    width: 100%;
    height: 100%;

    left: 0;
    top: 0;
}

.Post__content{
    width: 85%;
}

.Post__title{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    color: #333;
}

.Post__text{
    margin-top: 8px;

    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #999;
    line-height: 1.6;
}

.Post__button{
    margin: auto 0;
}