.ScrollSector{
    height: 240vh;
    background-color: #333;

    padding: 50vh 0 10vh;

    &__inner{
        display: flex;
        justify-content: center;
        align-items: center;

        position: sticky;
        top: 50vh;
        transform: translateY(-50%);
    }

    &__svg{
        width: 400px;
    }

    &__slide-text{
        position: absolute;
        font-family: "Montserrat", serif;
        font-weight: 700;
        font-size: 30px;

        &:before{
            content: "";
            display: block;
            height: 4px;
            width: 70px;
            background-color: #f38181;
            margin-bottom: 10px;
        }

        // react-transition-group Transition styles
        &.entering, &.exiting{
            color: transparent;
            transform: translateY(100px);
            &:before{
                transform: translate(-50%, -100px) scale(0);
            }
        }

        &.entered{
            color: #999;
            transform: none;
            &:before{
                transform: translate(0) scale(1);
            }
        }

        // individual styles
        $offset: 20px;
        $transitionDuration: 1.5s;
        &#slide-text-0{
            top: -$offset;
            left: 0;

            $timingFunc: linear;
            transition: all $transitionDuration $timingFunc;
            &:before{
                transition: all $transitionDuration $timingFunc;
            }
        }
        &#slide-text-1{
            bottom: $offset;
            left: 0;

            $timingFunc: ease;
            transition: all $transitionDuration $timingFunc;
            &:before{
                transition: all $transitionDuration $timingFunc;
            }
        }
        &#slide-text-2{
            top: $offset;
            right: 0;

            $timingFunc: ease-in-out;
            transition: all $transitionDuration $timingFunc;
            &:before{
                transition: all $transitionDuration $timingFunc;
            }
        }
        &#slide-text-3{
            bottom: -$offset;
            right: 0;

            $timingFunc: ease-out;
            transition: all $transitionDuration $timingFunc;
            &:before{
                transition: all $transitionDuration $timingFunc;
            }
        }
    }
}

