.MainPage{
    height: 100vh;
    padding: 130px;

    &__title{
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 50px;
        line-height: 0.95;
        color: #333;

        text-align: center;
    }

    &__content{
        margin-top: 30px;

        display: flex;
        justify-content: space-between;
    }

    &__photo{
        width: 48%;

        & svg{
            width: 100%;
            height: auto;
        }
    }

    &__text{
        width: 52%;
        padding-left: 35px;

        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        color: #999;
        line-height: 1.6;

        display: flex;
        align-items: center;
    }
}
