.PopUp {
    // Default styles
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 900;

    display: flex;
    justify-content: center;
    align-items: center;

    // Transition states styles
    &.entering {
        background-color: transparent;
    }
    &.entered {
        background-color: rgba(0, 0, 0, 0.2);
    }
    &.exiting {
        background-color: transparent;
    }

    // Elements styles
    &__Content {
        // Default styles
        position: relative;
        z-index: 1000;
        min-width: 450px;
        max-width: 800px;
        padding: 50px 30px 40px 30px;

        background-color: #fff;
        border-radius: 20px;

        // Transition states styles
        &.entering {
            transform: scale(0);
        }
        &.entered {
            transform: scale(1);
        }
        &.exiting {
            transform: scale(0);
        }
    }

    &__CloseButton {
        position: absolute;
        z-index: 1000;
        top: 20px;
        right: 20px;

        font-size: 25px;
        color: black;
        cursor: pointer;

        transform: none;
        transition: all .2s;

        &:hover {
            transform: rotate(90deg);
            color: #f38181;
        }
    }
}
